# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/build
frontend/webpack-stats.dev.json
frontend/webpack-stats.pro.json

*.pyc
db.sqlite3

.idea/
